<% if comment.persisted? %>
  <% target_url = comment_url(comment) %>
  <% target_verb = "PATCH" %>
<% else %>
  <% target_url = comments_url %>
  <% target_verb = "POST" %>
<% end %>

<form action="<%= target_url %>" method="POST">
  <input type="hidden" name="_method" value="<%= target_verb %>" >
  <input type="hidden" name="comment[post_id]" value="<%= post_id %>">
  <%= auth_token %>

  <label for="comment_content">Comment:</label>
  <textarea id="comment_content"
            name="comment[content]"><%= comment.content %></textarea>

  <button>Submit</button>
</form>