<form action="<%= comments_url %>" method="POST">
  <%= auth_token %>
  <input type="hidden" value="<%= comment.id %>" name="comment[parent_id]">
  <input type="hidden" value="<%= comment.post_id %>" name="comment[post_id]">

  <label for="comment_content">Reply:</label>
  <textarea id="comment_content"
            name="comment[content]"></textarea>

  <button>Submit</button>

</form>