<h1>Sign up!</h1>

<form action="<%= users_url %>" method="POST">
  <%= auth_token %>

  <label for="user_email">Email</label>
  <input type="text"
         id="user_email"
         name="user[email]"
         value="<%= @user.email %>">
  <br>

  <label for="user_password">Password</label>
  <input type="password" id="user_password" name="user[password]">
  <br>

  <button>Make My Account!</button>

</form>