<% if sub.persisted? %>
  <% target_url = sub_url(sub) %>
  <% target_verb = "PATCH" %>
  <% button_text = "Save changes" %>
<% else%>
  <% target_url = subs_url %>
  <% target_verb = "POST" %>
  <% button_text = "Create sub" %>
<% end %>


<form action="<%= target_url %>" method="POST">
  <input type="hidden" name="_method" value="<%= target_verb %>">
  <%= auth_token %>

  <label for="sub_title">Title</label>
  <input type="text"
         id="sub_title"
         name="sub[title]"
         value="<%= sub.title %>">

  <br>

  <label for="sub_description">Description</label>
  <textarea id="sub_description"
            name="sub[description]"><%= sub.description %>
  </textarea>

  <button><%= button_text %></button>
</form>