<% if direction == :up %>
  <% target_url = upvote_post_url(post) %>
<% else %>
  <% target_url = downvote_post_url(post) %>
<% end %>

<form action="<%= target_url %>", method="POST">
	
	<%= auth_token %>
	
	<input type="hidden", name="sub[post_id]">
	
	<button><%= direction %>vote</button>
</form>