<h1><%= @sub.title %></h1>

<%= @sub.description %>
<br><br>

<ol>
  <% @sub.posts.each do |post| %>
    <li><a href="<%= post_url(post) %>"><%= post.title %></a></li>
	Score:  <%= post.score %>
	<%= render "vote", direction: :up, post: post %>
	<%= render "vote", direction: :down, post: post %>
	
    <br><br>
  <% end %>
</ol>

<% if current_user %>
  <br><br>
  <a href="<%= new_sub_post_url(@sub) %>">New Post</a>
  <br><br>
<% end %>

<% if current_user == @sub.moderator %>
  <a href="<%= edit_sub_url(@sub) %>">Edit sub</a>
  <br><br>
<% end %>

<a href="<%= subs_url %>">Back to all subs</a>