<% if post.persisted? %>
  <% target_url = post_url(post) %>
  <% target_verb = "PATCH" %>
  <% button_text = "Save Changes" %>
<% else %>
  <% target_url = posts_url %>
  <% target_verb = "POST" %>
  <% button_text = "Create Post" %>
<% end %>

<form action="<%= target_url %>" method="POST">
  <input type="hidden" name="_method" value="<%= target_verb %>">

  <%= auth_token %>

  <p>
    <label for="post_title">Title</label>
    <input type="text"
           id="post_title"
           name="post[title]"
           value="<%= post.title %>">
  </p>

  <p>
    <% subs.each do |sub| %>
      <label for="post_sub_ids"><%= sub.title %></label>
      <input type="hidden" id="post_sub_ids" name="post[sub_ids][]" value="">
      <input type="checkbox"
             id="post_sub_ids"
             name="post[sub_ids][]"
             value="<%= sub.id %>"
             <% if source_sub_id.to_i == sub.id.to_i ||
                   post.sub_ids.include?(sub.id) %>
             checked
             <% end %>>
   <% end %>
  </p>

  <p>
    <label for="post_url">Link URL (optional)</label>
    <input type="text"
           id="post_url"
           name="post[url]"
           value="<%= post.url %>">
  </p>
  <p>
    <label for="post_content">Content (optional)</label>
    <textarea id="post_content"
              name="post[content]"><%= post.content %></textarea>
  </p>

  <button><%= button_text %></button>
</form>