<% if direction == :up %>
  <% target_url = upvote_comment_url(comment) %>
<% else %>
  <% target_url = downvote_comment_url(comment) %>
<% end %>

<form action="<%= target_url %>", method="POST">
	
	<%= auth_token %>
	
	<input type="hidden", name="post[comment_id]">
	
	<button><%= direction %>vote</button>
</form>
