<% if @post.url.present? %>
  <% post_title = (link_to "#{@post.title}", "#{@post.url}")%>
<% else %>
  <% post_title = @post.title %>
<% end %>


<h1><%= post_title %> (<%= @post.score %>)</h1>
<div>
  <%= @post.content %>
</div>

<h3>Comments (<%= @post.comments.length %>)</h3>
<ul>
  <% @post.comments.each do |comment| %>
    <% if comment.parent_comment.nil? %>
	  <li>
        <pre><%= comment.content %> (<%= comment.score %>)</pre>
        <a href="<%= comment_url(comment) %>">Go to Comment</a>
        <h6>Posted by '<%= comment.author.email %>'
          at <%= comment.created_at %></h6>
		  
  	  	<%= render "vote", direction: :up, comment: comment %>
  	  	<%= render "vote", direction: :down, comment: comment %>

        <% if comment.author == current_user %>

          <a href="<%= edit_comment_url(comment) %>">
            Edit (because you should be embarassed by that)</a>

          <%= button_to "Delete", comment_url(comment), method: :delete %>

        <% end %>
		<ul>
	  <% comment.child_comments.each do |child| %>
          <li>
            <pre> <%= child.content %> </pre>
            <a href="<%= comment_url(child) %>">Go to Comment</a>
			<%= button_to "Delete Comment", comment_url(child), method: :delete %>
            <h6>Posted by '<%= child.author.email %>'
              at <%= child.created_at %></h6>
			  
	    	  	<%= render "vote", direction: :up, comment: comment %>
	    	  	<%= render "vote", direction: :down, comment: comment %>
			  
          </li>
	  <% end %>
	
	<% end %>
	
  <% end %>
</ul>

<% if current_user %>
  <br>
  <a href="<%= new_post_comment_url(@post) %>">Comment on this Post</a>
<% end %>

<% if @post.author == current_user %>
  <br>
  <a href="<%= edit_post_url(@post) %>">Edit Post</a>
<% end %>

<br><br>
Posted in:
<% @post.subs.each do |sub| %>
  <a href="<%= sub_url(sub) %>"><%= sub.title %></a>
<% end %>