<!DOCTYPE html>
<html>
<head>
  <title>RedditClone</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if current_user.nil? %>
  <a href="<%= new_user_url %>">Sign up</a> OR
  <a href="<%= new_session_url %>">Sign in</a>
<% else %>
  <%= current_user.email %>
  <%= button_to "Log out", session_url, method: :delete %>
<% end %>

<% unless request.original_url == subs_url %>
  <br>
  <a href="<%= subs_url %>">Home</a>
<% end %>

<% if flash[:notice] %>
  <% flash[:notice].each do |notice| %>
  <div><%= notice %></div>
  <% end %>
<% end %>

<%= yield %>

</body>
</html>
